
// Job paramaters to set for this environment


// Resource manager settings

executor {
  queueSize=100
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'htc'
 
}

params.max_cpus = 24
params.max_ram = 250

singularity {
 enabled = true
 runOptions = "-B /work_ifs -B /mnt -B /scratch"
 cacheDir = "/work_ifs/ikmb_repository/singularity_cache"
}



